<mat-sidenav-container class="sidenav-container">
  
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar >Menu</mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLink="pos">Punto de Venta</a>

      <a mat-list-item >Rercursos Humanos</a>
      
      <a mat-list-item >Notificaciones</a>

      <a mat-list-item >Pagos</a>

      <a mat-list-item >Agenda / Calendario</a>

      <a mat-list-item >Reportes</a>

      <a mat-list-item >Integraciones</a>

      <a mat-list-item >Deposito</a>

      <a mat-list-item >Cash</a>

      <a mat-list-item routerLink="dashboard">Estadisticas</a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        
        >
        <!-- 
           // esta linea va adentro del boton Toggle sidenav originalmente...
           *ngIf="isHandset$ | async" 
        -->
        
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>SISTEMA DE ADMINISTRACIÓN DE NEGOCIOS</span>
    </mat-toolbar>

    <!-- Add Content Here -->
    <ng-content>

    </ng-content>

  </mat-sidenav-content>

</mat-sidenav-container>
